[Unit]
Description=PIHOLE LOADBALANCER CTP DNS Service 
Wants=network.target network-online.target 
After=network.target network-online.target 
Requires=network.target network-online.target


[Service]
EnvironmentFile=/etc/environment
Environment=LOG_FILE=/var/log/pihole-loadbalancer-ctp-dns/default.log
Environment=LOG_FILES={default,access,error}.log
Environment=TMP_DIR=/var/tmp/pihole-loadbalancer-ctp-dns
Environment=LOG_DIR=/var/log/pihole-loadbalancer-ctp-dns
Environment=PID_FILE=/run/pihole-loadbalancer-ctp-dns.pid

LimitSTACK=2147483648
LimitNPROC=327680
LimitNOFILE=65555360
LimitMSGQUEUE=65555360

CacheDirectory=pihole-loadbalancer-ctp-dns
LogsDirectory=pihole-loadbalancer-ctp-dns

CPUQuota=25%
IOSchedulingPriority=0

Nice=10
Type=exec
PIDFile=/run/pihole-loadbalancer-ctp-dns.pid

AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN=+eip CAP_NET_RAW CAP_SETFCAP CAP_BPF CAP_SYS_ADMIN CAP_NET_BROADCAST

User=root
Group=root

ExecStartPre=/bin/mkdir -p ${LOGS_DIRECTORY}/ ${CACHE_DIRECTORY}/ ${TMP_DIR}/
ExecStartPre=/bin/bash -c "/usr/bin/touch ${PID_FILE} \
	${LOGS_DIRECTORY}/${LOG_FILES} \
	${LOCK_FILE}"

ExecStartPre=/bin/bash -c "/bin/echo ${MAINPID} | /usr/bin/tee ${PID_FILE}"
ExecStartPre=/bin/bash ${PROG}/generate_ctp-dns-pihole-middleware-dns.sh
ExecStartPre=/sbin/setcap cap_net_bind_service,cap_net_raw,cap_setfcap,cap_net_admin=+eip /root/go/bin/routedns
ExecStart=/bin/bash -c "/root/go/bin/routedns ${PIHOLE_MIDDLEWARE}/*.toml --log-level=4"

ExecStop=/bin/bash -c "/bin/kill -USR1 ${MAINPID}; exit 0"
ExecReload=/bin/kill -USR1 ${MAINPID}

Restart=always
RestartSec=5s

StandardOutput=append:/var/log/pihole-loadbalancer-ctp-dns/access.log
StandardError=append:/var/log/pihole-loadbalancer-ctp-dns/error.log

TTYPath=/dev/tty0
TTYReset=yes
TTYVHangup=yes

TimeoutStartSec=6m
TimeoutStopSec=30s 

[Install]
WantedBy=multi-user.target
