[submodule "9f6f2ca17acf49e04088"]
	path = 9f6f2ca17acf49e04088
	url = https://gist.github.com/zchee/9f6f2ca17acf49e04088
[submodule "absolute"]
	path = absolute
	url = https://gist.github.com/zchee/9f6f2ca17acf49e04088
