node_modules/
*node_modules/
*/node_modules/
*/node_modules/*
*node_modules/*
Pods/
Pods/*
*Pods/
*/Pods/
*Pods/*
*/Pods/*
.git/
*.git/
.git/branches
.git/config
.git/description
.git/HEAD
.git/hooks
.git/index
.git/info
.git/logs
.git/modules
.git/objects
.git/packed-refs
.git/refs
*.git/*
*/.git/*
*/.git/
