[Unit] 
Description=CTP DNS Service
After=network.target
#pihole-FTL.service



[Service]
EnvironmentFile=/etc/environment
Environment=LOG_FILE=/var/log/ctp-dns/default.log
Environment=LOG_FILES={default,access,error}.log
Environment=TMP_DIR=/var/tmp/ctp-dns
Environment=LOG_DIR=/var/log/ctp-dns
Environment=PID_FILE=/run/ctp-dns.pid
Environment=LOCK_FILE=/tmp/health-checks.stop.lock
Environment=SSL_DIR=/etc/letsencrypt/live/vpn.ctptech.dev
Environment=DNSCRYPT_DIR=/etc/letsencrypt/live/vpn.ctptech.dev/dnscrypt
Environment=GO111MODULE=on

CacheDirectory=ctp-dns
LogsDirectory=ctp-dns
#RuntimeDirectory=

CPUQuota=65%

Nice=19
Type=exec
PIDFile=${PID_FILE}

AmbientCapabilities=CAP_NET_BIND_SERVICE

#CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN CAP_SETFCAP
#AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN CAP_SETFCAP

User=root
Group=root
ExecStartPre=/bin/mkdir -p ${LOGS_DIRECTORY}/ ${CACHE_DIRECTORY}/ ${TMP_DIR}/
ExecStartPre=/bin/bash -c "! [[ -L ${TMP_DIR}/lists && -d ${TMP_DIR}/lists ]] && /bin/ln -s ${ROUTE_LIST}/ ${TMP_DIR}/; exit 0"
ExecStartPre=/bin/bash -c "/usr/bin/touch ${PID_FILE} \
	${LOGS_DIRECTORY}/${LOG_FILES} \
	${LOCK_FILE}"
#ExecStartPre=/snap/bin/go get -v github.com/folbricht/routedns/cmd/routedns
ExecStartPre=/bin/bash -c "/bin/echo ${MAINPID} | /usr/bin/tee ${PID_FILE}"
ExecStartPre=/bin/bash -c "( /bin/sleep 90s; [[ -f ${LOCK_FILE} ]] && /bin/rm ${LOCK_FILE} ) &"
ExecStartPre=/bin/bash ${ROUTE}/ctp-dns.sh --generate-cache
ExecStartPre=/sbin/setcap cap_net_bind_service,cap_net_raw,cap_setfcap,cap_net_admin=+eip /root/go/bin/routedns
ExecStart=/bin/bash -c "/root/go/bin/routedns ${ROUTE}/*.toml --log-level=5"
#	--log-level=5 | mbuffer -T /tmp/ctp-dns.buffer -m 50M | tee -a ${LOG_FILE}"
#ExecStartPost=/bin/bash -c "for ((i=0; i < 3; i++)); do ps -aux | grep 'pm.stal\|test_\|pm.hea' | awk '{print $2}' | xargs sudo kill -9;sleep 10s;done"
#ExecStartPost=/bin/bash -c '/bin/sleep 30s; [[ -f /tmp/health-checks.stop.lock ]] &&/bin/rm /tmp/health-checks.stop.lock'

ExecStop=/bin/bash -c "/bin/kill -USR1 ${MAINPID}; if pgrep routedns; then pkill routedns; fi; if pgrep sleep; then pkill sleep; fi; test -f ${LOCK_FILE} && /bin/rm ${LOCK_FILE}; exit 0"
ExecReload=/bin/kill -USR1 ${MAINPID}

Restart=on-failure
RestartSec=5s

#StandardInput=tty
StandardOutput=append:/var/log/ctp-dns/access.log
StandardError=append:/var/log/ctp-dns/error.log

TTYPath=/dev/tty0
TTYReset=yes
TTYVHangup=yes

TimeoutStartSec=1m
TimeoutStopSec=30s 
#PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
