[Unit] 
Description=NGINX CTP DNS RFC Service
Wants=network.target
After=network.target pihole-FTL.service
Before=nginx.service
Requires=network.target


[Service]
EnvironmentFile=/etc/environment
Environment=LOG_FILE=/var/log/nginx-dns-rfc/default.log
Environment=LOG_FILES={default,access,error}.log
Environment=TMP_DIR=/var/tmp/nginx-dns-rfc
Environment=LOG_DIR=/var/log/nginx-dns-rfc
Environment=PID_FILE=/run/ctp-dns-nginx-dns-rfc.pid
Environment=SSL_DIR=/etc/letsencrypt/live/ctptech.dev
Environment=GO111MODULE=on

# Directive        ulimit equivalent     Unit
# LimitCPU=        ulimit -t             Seconds      
# LimitFSIZE=      ulimit -f             Bytes
# LimitDATA=       ulimit -d             Bytes
# LimitSTACK=      ulimit -s             Bytes
# LimitCORE=       ulimit -c             Bytes
# LimitRSS=        ulimit -m             Bytes
# LimitNOFILE=     ulimit -n             Number of File Descriptors 
# LimitAS=         ulimit -v             Bytes
# LimitNPROC=      ulimit -u             Number of Processes 
# LimitMEMLOCK=    ulimit -l             Bytes
# LimitLOCKS=      ulimit -x             Number of Locks 
# LimitSIGPENDING= ulimit -i             Number of Queued Signals 
# LimitMSGQUEUE=   ulimit -q             Bytes
# LimitNICE=       ulimit -e             Nice Level 
# LimitRTPRIO=     ulimit -r             Realtime Priority  
# LimitRTTIME=     No equivalent


# 2gb in byte 2147483648 
#LimitCPU=nfinity
#LimitCORE=infinity
#LimitRSS=infinity
#LimitFSIZE=2147483648 
#LimitSTACK=2147483648 
#LimitDATA=2147483648 
#LimitNOFILE=32768
LimitNPROC=32768
LimitNOFILE=6553600
#LimitMSGQUEUE=infinity

CacheDirectory=nginx-dns-rfc
LogsDirectory=nginx-dns-rfc
#RuntimeDirectory=

CPUQuota=25%

Nice=10
Type=exec
PIDFile=/run/ctp-dns-nginx-dns-rfc.pid

AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN=+eip CAP_NET_RAW CAP_SETFCAP

#CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN CAP_SETFCAP
#AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN CAP_SETFCAP

User=root
Group=root
ExecStartPre=/bin/mkdir -p ${LOGS_DIRECTORY}/ ${CACHE_DIRECTORY}/ ${TMP_DIR}/
ExecStartPre=/bin/bash -c "/usr/bin/touch ${PID_FILE} \
	${LOGS_DIRECTORY}/${LOG_FILES}"
#ExecStartPre=/bin/bash -c "! [[ -f /root/go/bin/routedns ]] && /snap/bin/go get -u -v github.com/folbricht/routedns/cmd/routedns"
#ExecStartPre=/snap/bin/go get -v github.com/folbricht/routedns/cmd/routedns
ExecStartPre=/bin/bash -c "/bin/echo ${MAINPID} | /usr/bin/tee ${PID_FILE}"
ExecStartPre=/bin/bash ${ROUTE}/ctp-dns-version-mananger.sh
ExecStartPre=/bin/bash ${ROUTE}/ctp-dns-format.sh 
ExecStartPre=/sbin/setcap cap_net_bind_service,cap_net_raw,cap_setfcap,cap_net_admin=+eip /root/go/bin/routedns

ExecStart=/bin/bash -c "/root/go/bin/routedns ${ALT_ROUTE}/*.toml --log-level=4 2> >( mbuffer -m 16M -a 10 -P 90% --append -o ${LOG_FILE} )"

ExecStop=/bin/bash -c "/bin/kill -USR1 ${MAINPID}; netpid '127.0.0.1:22443'; exit 0"
ExecReload=/bin/kill -USR1 ${MAINPID}

Restart=always
RestartSec=10s

#StandardInput=tty
StandardOutput=append:/var/log/nginx-dns-rfc/access.log
StandardError=append:/var/log/nginx-dns-rfc/error.log

TTYPath=/dev/tty0
TTYReset=yes
TTYVHangup=yes

TimeoutStartSec=1m
TimeoutStopSec=30s 
#PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
